* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font: 400 1rem;
    -webkit-font-smoothing: antialiased;
}

.container {
    width: 100vw;
    max-width: 1120px;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    justify-items: center;
}

.user {
    width: 100%;
    height: 11.813rem;
    background: #3D265E;
    padding: 0 1rem;
    display: grid;
    justify-items: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
}

.name {
    font-size: 1.25rem;
    font-weight: 700;
    padding-top: 1.125rem;
}

.role {
    color: #fff;
    display: grid;
    justify-items: center;
    gap: 0.5rem;
    font-size: small;
}

.other {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

img,
a {
    text-decoration: transparent;
    transition: filter 0.2s;
}


img,
a:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.logos img {
    margin: 0 0.75rem;
}

.details {
    width: 100%;
    height: 11.25rem;
    display: grid;
    justify-items: center;
    align-items: center;
}

.photo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0.75rem;
    margin-top: -3rem;
}

.photo img {
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    border: 4px solid #3D265E;
}

.frameOrange {
    width: 95%;
    height: 7.125rem;
    background: #E84F30;
    border-radius: 0px 20px;
    display: flex;
    justify-content: center;
    padding: .125rem;
    color: #000;
    font-size: 0.875rem;
}

.frameOrange span {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: .75rem;
    /* Espaçamento entre linhas */
    line-height: 1.5;
    /* Espaçamento entre letras */
    /* letter-spacing: 0.125rem; */
}

.work {
    width: 100%;
    margin-top: 1.375rem;
}

.title {
    color: #E84F30;
    font-weight: 700;
    margin-left: 1.125rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 1.125rem;
    gap: 1rem;
}

.card {
    width: 11.563rem;
    height: 11.5rem;
}

.boxTop {
    width: 11.563rem;
    height: 6.063rem;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
}

.boxTop img {
    width: 100%;
    height: 100%;
}

.boxBottom {
    width: 11.563rem;
    height: 5.438rem;
    background: #1F1F1F;
    border-radius: 0px 0px 8px 8px;
}

.boxBottom p {
    color: #fff;
    font-size: 0.875rem;
    font-weight: 700;
    padding: 0.75rem 0 0.625rem 0.875rem;
}

.boxBottom span {
    color: #E3E2E5;
    font-size: 0.75rem;
    font-weight: 400;
    margin-left: 0.875rem;
}

.foot {
    width: 100%;
    height: 3.125rem;
    background: #1F1F1F;
    color: #FFF;
    display: grid;
    grid-template-columns: 100px 1fr;
}

.logototi {
    background: #E3E2E5;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0.125rem;
}

.extras {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.25rem;
}

.extras span {
    font-size: 0.65rem;
}

.extras img {
    margin: 0 0.125rem;
}


@media screen and (min-width: 769px) {
    .card {
        width: 22rem;
        height: 16rem;
    }

    .work {
        width: 70%;
    }

    .boxTop {
        width: 20rem;
        height: 10rem;
    }

    .boxBottom {
        width: 20rem;
        height: 6rem;
    }

    .extras {
        padding: 1rem;
    }

    .extras span {
        font-size: 0.75rem;
    }

}